[Unit]
Description=Open Compute Framework Daemon

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/ocf start --mode standalone
Restart=always
RestartSec=3
Environment="AXIOM_TOKEN="
Environment="AXIOM_DATASET="

[Install]
WantedBy=multi-user.target